.issue-count {
  width: 230px;
  margin: 0 auto;
  height: 40px;

  i {
    margin-right: 5px;
  }

  .issue-open {
    float: left;
    font-size: 13px;
    padding: 9px;
  }

  .issue-closed {
    float: left;
    border: 1px solid transparent;
    color: #aaa;
    font-size: 13px;
    margin-left: 10px;
    padding: 8px;

    &:hover {
      border: 1px solid #99cc33;
    }
  }
}